*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

body, html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-size: 15px;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, li {
  display: block;
  padding: 0px;
  margin: 0px;
}

textarea {
  resize: none;
}

p {
  font-size: 16px;
}

img {
  border-style: none;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoratio {
  display: none;
}

[hidden] {
  display: none;
}

p, nav {
  margin: 0;
  padding: 0;
}

a, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
  text-decoration: none;
  outline: none;
  /*-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;*/
}

input {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

a, span, p, input, button, select, option {
  font-family: 'Manrope Regular';
  font-size: 24px;
  color: #3C3737;
}

label.error {
  color: red;
  font-family: 'Montserrat Medium';
  font-size: 18px;
  margin-top: 5px;
  display: inline-block;
}

.container {
  width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px rgba(21, 84, 61, 0.39);
          box-shadow: 0px 4px 18px rgba(21, 84, 61, 0.39);
  border-radius: 22px;
  width: 216px;
  height: 66px;
  color: #209269;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.12em;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  pointer-events: none;
}

.img-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  pointer-events: none;
}

.title {
  font-family: 'Montserrat Bold';
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.04em;
  color: #209269;
}

.header {
  position: relative;
  z-index: 4;
}

.header-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-top {
  padding: 20px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  width: 164px;
  height: 64px;
}

.header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: unset;
}

.header-phone__icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.header-phone__text {
  font-family: 'Manrope Medium';
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-phone__text:hover {
  color: #209269;
}

.header-phone:nth-child(1), .header-phone:nth-child(3) {
  width: 167px;
}

.header-phone:nth-child(2), .header-phone:nth-child(4) {
  width: 139px;
}

.header-email {
  font-size: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header-email__text {
  font-family: 'Manrope Medium';
  font-size: 16px;
}

.header-connect {
  width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-address {
  width: 295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-address__icon {
  width: 24px;
  height: 24px;
}

.header-address__text {
  font-size: 18px;
  line-height: 127.6%;
  letter-spacing: 0.06em;
  color: #000000;
}

.header-address__text span {
  font-family: 'Manrope Semibold';
  font-size: 18px;
  line-height: 127.6%;
  letter-spacing: 0.06em;
  color: #000000;
}

.header-address__link {
  font-size: 18px;
  line-height: 127.6%;
  font-family: 'Manrope ExtraBold';
  letter-spacing: 0.06em;
  text-decoration: underline;
  color: #209269;
}

.header-address-block {
  margin-left: 4px;
}

.header__button {
  width: 217px;
  text-transform: uppercase;
  font-family: 'Manrope ExtraBold';
  letter-spacing: 0.12em;
  font-size: 22px;
  line-height: 30px;
  height: 57px;
  background: #209269;
  border: 3px solid #209269;
  -webkit-box-shadow: 0px 4px 18px rgba(21, 84, 61, 0.39);
          box-shadow: 0px 4px 18px rgba(21, 84, 61, 0.39);
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__button:hover {
  background: #fff;
  color: #209269;
}

.header-lang {
  background: #F9F8F8;
  border: 1px solid #209269;
  border-radius: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3px 10px;
  position: relative;
  cursor: pointer;
}

.header-lang:hover .header-lang__text {
  color: #209269;
}

.header-lang.active .header-lang-list {
  opacity: 1;
  pointer-events: all;
}

.header-lang.active .header-lang-current svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header-lang-current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-lang-current svg {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-left: 6px;
}

.header-lang__text {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: 'Manrope Regular';
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.12em;
  color: #000000;
}

.header-lang-list {
  position: absolute;
  background: #F9F8F8;
  border: 1px solid #209269;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
  left: 0;
  top: 36px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-lang-item__text {
  font-family: 'Manrope Regular';
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.12em;
  color: #000000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-lang-item__text:hover {
  color: #209269;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  border-top: 1px solid rgba(217, 217, 217, 0.56);
  border-bottom: 1px solid rgba(217, 217, 217, 0.56);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-item__link {
  display: inline-block;
  padding: 20px 0;
  color: #209269;
  font-size: 28px;
  line-height: 34px;
  font-family: 'Inter Bold';
  letter-spacing: 0.12em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navigation-sticky {
  background: #fff;
}

.navigation-sticky .navigation-item__link {
  color: #209269;
}

.intro__slogan {
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #1D805C;
  font-style: italic;
  font-family: 'Mysl Bold';
  max-width: 1020px;
  margin: 23px auto 26px auto;
  position: relative;
  z-index: 2;
}

.intro-slider-slide {
  width: 100%;
}

.intro-slider-slide-image {
  width: 100%;
  max-height: 1512px;
  top: -295px;
  position: absolute;
  z-index: -2;
}

.intro-slider-slide__title {
  font-family: 'Montserrat Bold';
  font-size: 58px;
  line-height: 98px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #209269;
  margin-bottom: 14px;
}

.intro-slider-slide-btns {
  margin-top: 32px;
}

.intro-slider-slide__btn {
  font-family: 'Manrope ExtraBold';
  background: #209269;
  color: #fff;
  text-transform: uppercase;
  width: 278px;
  margin-right: 77px;
  border: 3px solid #209269;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.intro-slider-slide__btn:hover {
  background: #fff;
  color: #209269;
}

.intro-slider-slide__link {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.12em;
  color: #1A694D;
  font-family: 'Manrope ExtraBold';
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.intro-slider-slide__link:hover {
  color: #fff;
}

.intro-slider-slide-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-slider-slide-item p {
  font-family: 'Montserrat SemiBold';
  margin-left: 16px;
  line-height: 40px;
  color: #FFFFFF;
  max-width: 588px;
}

.intro-slider-slide:nth-child(1) .intro-slider-slide__title {
  width: 635px;
}

.intro-slider-slide:nth-child(2) .intro-slider-slide__title {
  width: 764px;
}

.intro-slider-slide:nth-child(2) .intro-slider-slide-list {
  margin-bottom: 32px;
}

.intro-slider-slide:nth-child(2) .intro-slider-slide-item:not(:last-child) {
  margin-bottom: 16px;
}

.intro-slider-slide:nth-child(2) .intro-slider-slide-btns {
  margin-top: 68px;
}

.intro-slider-pagination {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-slider-pagination span {
  margin: 0 !important;
  position: relative;
  width: 98px;
  height: 4px;
  z-index: 2;
  background: #B7B7B7;
  -webkit-box-shadow: 0px 2px 4px rgba(50, 78, 68, 0.16);
          box-shadow: 0px 2px 4px rgba(50, 78, 68, 0.16);
  border-radius: 20px;
}

.intro-slider-pagination span.swiper-pagination-bullet-active {
  background: #209269;
}

.intro-slider-pagination span:not(:last-child) {
  margin-right: 12px !important;
}

.service {
  position: relative;
  z-index: 1;
}

.service-wrapper {
  padding: 140px 0 116px 0;
}

.service__title {
  margin-bottom: 74px;
}

.service-item {
  border-bottom: 1px solid rgba(126, 247, 203, 0.2);
  padding: 30px 0;
}

.service-item:first-child {
  padding-top: 0;
}

.service-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.service-item-title svg {
  margin-right: 24px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-item-title.open svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.service-item-title__text {
  font-size: 32px;
  line-height: 24px;
  font-family: 'Montserrat Medium';
  font-weight: normal;
}

.service-item__content {
  display: none;
  padding-top: 10px;
  font-size: 16px;
}

.service__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 278px;
  height: 65px;
  font-family: 'Manrope ExtraBold';
  border-radius: 24px;
  border: 3px solid #209269;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 100px;
}

.service__btn:hover {
  color: #fff;
  background: #209269;
}

.consultation {
  background: linear-gradient(268.91deg, #26A778 2.85%, #54D6A7 99.07%);
}

.consultation__title {
  font-size: 42px;
  font-family: 'Montserrat SemiBold';
  color: #fff;
  margin-bottom: 30px;
}

.consultation-wrapper {
  padding: 35px 0 48px 0;
}

.consultation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.consultation-info {
  width: 665px;
}

.consultation-info__text {
  font-family: 'Montserrat Medium';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.consultation-info-contact {
  margin-top: 18px;
}

.consultation-info-contact__text {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  font-family: 'Montserrat SemiBold';
}

.consultation-info-numbers {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.consultation-info-numbers__link {
  font-family: 'Montserrat SemiBold';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.consultation-info-numbers__link:hover {
  color: #000;
}

.consultation-form {
  width: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.consultation-form-elem {
  width: 335px;
}

.consultation-form-elem:nth-child(3) {
  width: 100%;
}

.consultation-form-elem__input, .consultation-form-elem__textarea {
  background: none;
  width: 100%;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  padding: 20px 24px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.consultation-form-elem__input::-webkit-input-placeholder, .consultation-form-elem__textarea::-webkit-input-placeholder {
  color: #FFFFFF;
}

.consultation-form-elem__input:-ms-input-placeholder, .consultation-form-elem__textarea:-ms-input-placeholder {
  color: #FFFFFF;
}

.consultation-form-elem__input::-ms-input-placeholder, .consultation-form-elem__textarea::-ms-input-placeholder {
  color: #FFFFFF;
}

.consultation-form-elem__input::placeholder, .consultation-form-elem__textarea::placeholder {
  color: #FFFFFF;
}

.consultation-form-elem__textarea {
  font-family: 'Montserrat Regular';
  height: 171px;
  margin-top: 16px;
}

.consultation-form__btn {
  margin-top: 28px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.consultation-form__btn:hover {
  background: #1A694D;
  color: #fff;
}

.advantage-wrapper {
  padding: 100px 0;
}

.advantage__title {
  margin-bottom: 100px;
}

.advantage-elem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage-elem__image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.advantage-elem svg {
  position: relative;
  z-index: -1;
}

.advantage-block {
  position: relative;
}

.advantage-item {
  border: 3px dashed #209269;
  border-radius: 20px;
  position: absolute;
  padding: 16px;
}

.advantage-item::before {
  content: '';
  position: absolute;
  left: -13px;
  top: -14px;
  width: calc(100% + 26px);
  height: calc(100% + 28px);
  background: #fff;
  z-index: -1;
  -webkit-box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.advantage-item::after {
  content: '';
  position: absolute;
  right: 0;
  border-radius: 50%;
  width: 16px;
  background: #209269;
  height: 16px;
}

.advantage-item:nth-child(1) {
  width: 473px;
  top: 0;
  left: 99px;
}

.advantage-item:nth-child(1)::after {
  top: 70px;
  right: -22px;
}

.advantage-item:nth-child(2) {
  width: 436px;
  right: 175px;
  top: -8px;
}

.advantage-item:nth-child(2)::after {
  top: 58px;
  left: -22px;
}

.advantage-item:nth-child(3) {
  width: 554px;
  bottom: 62px;
  left: 40px;
}

.advantage-item:nth-child(3)::after {
  top: 62px;
  right: -22px;
}

.advantage-item:nth-child(4) {
  width: 572px;
  right: 28px;
  bottom: 20px;
}

.advantage-item:nth-child(4)::after {
  top: 88px;
  left: -22px;
}

.advantage-item__title {
  font-family: 'Montserrat Bold';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #209269;
}

.advantage-item__descr {
  font-family: 'Montserrat Medium';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #000000;
}

.specialist__title {
  margin-bottom: 74px;
}

.specialist-wrapper {
  padding-bottom: 100px;
}

.specialist-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.specialist-item {
  width: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 25px;
  -webkit-box-shadow: 0px 8px 24px rgba(10, 52, 37, 0.16);
          box-shadow: 0px 8px 24px rgba(10, 52, 37, 0.16);
  border-radius: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specialist-item-info {
  width: 483px;
}

.specialist-item__name {
  line-height: 24px;
  color: #000000;
  font-family: 'Montserrat SemiBold';
}

.specialist-item__post {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #26A778;
  margin: 24px 0;
}

.specialist-item__experience {
  font-family: 'Montserrat Bold';
  font-size: 18px;
  line-height: 24px;
  color: #5A5A5A;
}

.specialist-item-image {
  width: 138px;
  height: 138px;
  border-radius: 50%;
}

.specialist__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 278px;
  height: 65px;
  font-family: 'Manrope ExtraBold';
  border-radius: 24px;
  border: 3px solid #209269;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 100px;
}

.specialist__btn:hover {
  color: #fff;
  background: #209269;
}

.contact-wrapper {
  padding-bottom: 100px;
}

.contact__title {
  margin-bottom: 40px;
}

.contact-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-info {
  width: 524px;
}

.contact-info-block:not(:last-child) {
  margin-bottom: 32px;
}

.contact-info__title {
  font-family: 'Montserrat SemiBold';
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 18px;
}

.contact-info__descr {
  font-family: 'Montserrat Medium';
  font-size: 20px;
  line-height: 24px;
  color: #5A5A5A;
}

.contact-info__descr span {
  font-size: 20px;
  line-height: 24px;
  color: #209269;
  font-family: 'Montserrat Bold';
}

.contact-info-phone__icon {
  margin-right: 8px;
}

.contact-info-phone__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contact-info-phone__link:not(:last-child) {
  margin-bottom: 12px;
}

.contact-info-phone__link:hover .contact-info-phone__text {
  color: #209269;
}

.contact-info-phone__text {
  font-family: 'Montserrat Medium';
  font-size: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #5A5A5A;
}

.contact-info-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info-email__text {
  font-family: 'Montserrat Medium';
  color: #5A5A5A;
  text-decoration: underline;
  font-size: 20px;
  line-height: 24px;
  margin-left: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact-info-email:hover .contact-info-email__text {
  color: #209269;
}

.contact-info-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-info-social__link:not(:last-child) {
  margin-right: 20px;
}

.contact-info__link {
  font-family: 'Montserrat Bold';
  font-size: 20px;
  line-height: 32px;
  text-decoration: underline;
  color: #209269;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact-info__link:hover {
  color: #000;
}

.contact-map {
  width: 689px;
}

.contact-map iframe {
  width: 100%;
  height: 335px;
  border-radius: 20px;
}

.footer {
  padding-bottom: 200px;
  background: #209269;
}

.hidden {
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */