

// import
@import 'normalize.scss';
@import '../vendor/_vars.scss';

body {

}

a, span, p, input, button, select, option {
    font-family: 'Manrope Regular';
    font-size: 24px;
    color: #3C3737;
}
input::placeholder {

}
label.error {
    color: red;
    font-family: 'Montserrat Medium';
    font-size: 18px;
    margin-top: 5px;
    display: inline-block;
}

.container {
    width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}


.btn {
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(21, 84, 61, 0.39);
    border-radius: 22px;
    width: 216px;
    height: 66px;
    color: #209269;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.12em;
}

.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none;
}

.img-contain{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    pointer-events: none;
}
.title {
    font-family: 'Montserrat Bold';
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.04em;
    color: #209269;
}

.header {
    position: relative;
    z-index: 4;
    &-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    &-top {
        padding: 20px 0 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo {
        width: 164px;
        height: 64px;
    }
    &-phone {
        display: flex;
        align-items: center;
        font-size: unset;
        &__icon {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
        &__text {
            font-family: 'Manrope Medium';
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.02em;
            color: #000;
            transition: $anim-default;
            &:hover {
                color:#209269;
            }
        }
        &:nth-child(1),
        &:nth-child(3) {
            width: 167px;
        }
        &:nth-child(2),
        &:nth-child(4) {
            width: 139px;
        }
    }
    &-email {
        font-size: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &__text {
            font-family: 'Manrope Medium';
            font-size: 16px;
        }
    }
    &-connect {
        width: 335px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-address {
        width: 295px;
        display: flex;
        &__icon {
            width: 24px;
            height: 24px;
        }
        &__text {
            span {
                font-family: 'Manrope Semibold';
                font-size: 18px;
                line-height: 127.6%;
                letter-spacing: 0.06em;
                color: #000000;
            }
            font-size: 18px;
            line-height: 127.6%;
            letter-spacing: 0.06em;
            color: #000000;
        }
        &__link {
            font-size: 18px;
            line-height: 127.6%;
            font-family: 'Manrope ExtraBold';
            letter-spacing: 0.06em;
            text-decoration: underline;
            color: #209269;
        }
        &-block {
            margin-left: 4px;
        }
    }
    &__button {
        width: 217px;
        text-transform: uppercase;
        font-family: 'Manrope ExtraBold';
        letter-spacing: 0.12em;
        font-size: 22px;
        line-height: 30px;
        height: 57px;
        background: #209269;
        border: 3px solid #209269;
        box-shadow: 0px 4px 18px rgba(21, 84, 61, 0.39);
        color: #fff;
        transition: $anim-default;
        &:hover {
            background: #fff;
            color: #209269;
        }
    }
    &-lang {
        background: #F9F8F8;
        border: 1px solid #209269;
        border-radius: 20px;
        height: fit-content;
        padding: 3px 10px;
        position: relative;
        cursor: pointer;
        &:hover {
            .header-lang__text {
                color: #209269;
            }
        }
        &.active {
            .header-lang-list {
                opacity: 1;
                pointer-events: all;
            }
            .header-lang-current {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
        &-current {
            display: flex;
            align-items: center;
            svg {
                transition: $anim-default;
                margin-left: 6px;
            }
        }
        &__text {
            transition: $anim-default;
            font-family: 'Manrope Regular';
            font-size: 21px;
            line-height: 29px;
            letter-spacing: 0.12em;
            color: #000000;
        }
        &-list {
            position: absolute;
            background: #F9F8F8;
            border: 1px solid #209269;
            border-radius: 20px;
            padding: 5px 10px;
            width: 100%;
            left: 0;
            top: 36px;
            opacity: 0;
            pointer-events: none;
            transition: $anim-default;
        }
        &-item {
            &__text {
                font-family: 'Manrope Regular';
                font-size: 21px;
                line-height: 29px;
                letter-spacing: 0.12em;
                color: #000000;
                transition: $anim-default;
                &:hover {
                    color: #209269;
                }
            }
        }
    }
}

.navigation {
    position: sticky;
    top: 0;
    z-index: 3;
    border-top: 1px solid rgba(217, 217, 217, 0.56);
    border-bottom: 1px solid rgba(217, 217, 217, 0.56);
    transition: $anim-default;
    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-item {
        &__link {
            display: inline-block;
            padding: 20px 0;
            color: #209269;
            font-size: 28px;
            line-height: 34px;
            font-family: 'Inter Bold';
            letter-spacing: 0.12em;
            transition: $anim-default;
        }
    }
    &-sticky {
        background: #fff;
        .navigation-item__link {
            color: #209269;
        }
    }
}

.intro {
    &__slogan {
        font-size: 38px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #1D805C;
        font-style: italic;
        font-family: 'Mysl Bold';
        max-width: 1020px;
        margin: 23px auto 26px auto;
        position: relative;
        z-index: 2;
    }
    &-slider {
        &-slide {
            width: 100%;
            &-image {
                width: 100%;
                max-height: 1512px;
                top: -295px;
                position: absolute;
                z-index: -2;
            }
            &__title {
                font-family: 'Montserrat Bold';
                font-size: 58px;
                line-height: 98px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #209269;
                margin-bottom: 14px;
            }
            &-btns {
                margin-top: 32px;
            }
            &__btn {
                font-family: 'Manrope ExtraBold';
                background: #209269;
                color: #fff;
                text-transform: uppercase;
                width: 278px;
                margin-right: 77px;
                border: 3px solid #209269;
                transition: $anim-default;
                &:hover {
                    background: #fff;
                    color: #209269;
                }
            }
            &__link {
                font-size: 24px;
                line-height: 33px;
                letter-spacing: 0.12em;
                color: #1A694D;
                font-family: 'Manrope ExtraBold';
                transition: $anim-default;
                &:hover {
                    color: #fff;
                }
            }
            &-item {
                display: flex;
                align-items: center;
                p {
                    font-family: 'Montserrat SemiBold';
                    margin-left: 16px;
                    line-height: 40px;
                    color: #FFFFFF;
                    max-width: 588px;
                }
            }
            &:nth-child(1) {
                .intro-slider-slide__title {
                    width: 635px;
                }
            }
            &:nth-child(2) {
                .intro-slider-slide__title {
                    width: 764px;
                }
                .intro-slider-slide-list {
                    margin-bottom: 32px;
                }
                .intro-slider-slide-item {
                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }
                }
                .intro-slider-slide-btns {
                    margin-top: 68px;
                }
            }
        }
        &-pagination {
            margin-top: 22px;
            display: flex;
            justify-content: center;
            span {
                margin: 0 !important;
                position: relative;
                width: 98px;
                height: 4px;
                z-index: 2;
                background: #B7B7B7;
                box-shadow: 0px 2px 4px rgba(50, 78, 68, 0.16);
                border-radius: 20px;
                &.swiper-pagination-bullet-active {
                    background: #209269;
                }
                &:not(:last-child) {
                    margin-right: 12px !important;
                }
            }
        }
    }
}

.service {
    position: relative;
    z-index: 1;
    &-wrapper {
        padding: 140px 0 116px 0;
    }
    &__title {
        margin-bottom: 74px;
    }
    &-item {
        border-bottom: 1px solid rgba(126, 247, 203, 0.2);
        padding: 30px 0;
        &:first-child {
            padding-top: 0;
        }
        &-title {
            display: flex;
            align-items: center;
            cursor: pointer;
            svg {
                margin-right: 24px;
                transition: $anim-default;
            }
            &.open {
                svg {
                    transform: rotate(180deg);
                }
            }
            &__text {
                font-size: 32px;
                line-height: 24px;
                font-family: 'Montserrat Medium';
                font-weight: normal;
            }
        }
        &__content {
            display: none;
            padding-top: 10px;
            font-size: 16px;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 278px;
        height: 65px;
        font-family: 'Manrope ExtraBold';
        border-radius: 24px;
        border: 3px solid #209269;
        transition: $anim-default;
        margin-top: 100px;
        &:hover {
            color: #fff;
            background: #209269;
        }
    }
}

.consultation {
    background: linear-gradient(268.91deg, #26A778 2.85%, #54D6A7 99.07%);
    &__title {
        font-size: 42px;
        font-family: 'Montserrat SemiBold';
        color: #fff;
        margin-bottom: 30px;
    }
    &-wrapper {
        padding: 35px 0 48px 0;
    }
    &-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start
    }
    &-info {
        width: 665px;
        &__text {
            font-family: 'Montserrat Medium';
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.04em;
            color: #FFFFFF;
        }
        &-contact {
            margin-top: 18px;
            &__text {
                font-size: 22px;
                line-height: 32px;
                letter-spacing: 0.04em;
                color: #FFFFFF;
                font-family: 'Montserrat SemiBold';
            }
        }
        &-numbers {
            margin-top: 8px;
            display: flex;
            flex-direction: column;
            &__link {
                font-family: 'Montserrat SemiBold';
                font-size: 22px;
                line-height: 32px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
                width: fit-content;
                transition: $anim-default;
                &:hover {
                    color: #000;
                }
            }
        }
    }
    &-form {
        width: 690px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-elem {
            width: 335px;
            &:nth-child(3) {
                width: 100%;
            }
            &__input, &__textarea {
                background: none;
                width: 100%;
                border: 2px solid #FFFFFF;
                border-radius: 20px;
                padding: 20px 24px;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.04em;
                color: #FFFFFF;
                &::placeholder {
                    color: #FFFFFF;
                }
            }
            &__textarea {
                font-family: 'Montserrat Regular';
                height: 171px;
                margin-top: 16px;
            }
        }
        &__btn {
            margin-top: 28px;
            text-transform: uppercase;
            transition: $anim-default;
            &:hover {
                background: #1A694D;
                color: #fff;
            }
        }
    }
}
.advantage {
    &-wrapper {
        padding: 100px 0;
    }
    &__title {
        margin-bottom: 100px;
    }
    &-elem {
        position: relative;
        display: flex;
        justify-content: center;
        &__image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        svg {
            position: relative;
            z-index: -1;
        }
    }
    &-block {
        position: relative;
    }
    &-item {
        border: 3px dashed #209269;
        border-radius: 20px;
        position: absolute;
        padding: 16px;
        &::before {
            content: '';
            position: absolute;
            left: -13px;
            top: -14px;
            width: calc(100% + 26px);
            height: calc(100% + 28px);
            background: #fff;
            z-index: -1;
            box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
        }
        &::after {
            content: '';
            position: absolute;
            right: 0;
            border-radius: 50%;
            width: 16px;
            background: #209269;
            height: 16px;
        }
        &:nth-child(1) {
            width: 473px;
            top: 0;
            left: 99px;
            &::after {
                top: 70px;
                right: -22px
            }
        }
        &:nth-child(2) {
            width: 436px;
            right: 175px;
            top: -8px;
            &::after {
                top: 58px;
                left: -22px
            }
        }
        &:nth-child(3) {
            width: 554px;
            bottom: 62px;
            left: 40px;
            &::after {
                top: 62px;
                right: -22px
            }
        }
        &:nth-child(4) {
            width: 572px;
            right: 28px;
            bottom: 20px;
            &::after {
                top: 88px;
                left: -22px
            }
        }
        &__title {
            font-family: 'Montserrat Bold';
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 0.04em;
            color: #209269;
        }
        &__descr {
            font-family: 'Montserrat Medium';
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 0.04em;
            color: #000000;
        }
    }
}
.specialist {
    &__title {
        margin-bottom: 74px;
    }
    &-wrapper {
        padding-bottom: 100px;
    }
    &-list {
        display: flex;
        justify-content: space-between;
    }
    &-item {
        width: 690px;
        display: flex;
        padding: 30px 25px;
        box-shadow: 0px 8px 24px rgba(10, 52, 37, 0.16);
        border-radius: 20px;
        justify-content: space-between;
        align-items: center;
        &-info {
            width: 483px;
        }
        &__name {
            line-height: 24px;
            color: #000000;
            font-family: 'Montserrat SemiBold';
        }
        &__post {
            font-family: 'Montserrat Bold';
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            color: #26A778;
            margin: 24px 0;
        }
        &__experience {
            font-family: 'Montserrat Bold';
            font-size: 18px;
            line-height: 24px;
            color: #5A5A5A;
        }
        &-image {
            width: 138px;
            height: 138px;
            border-radius: 50%;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 278px;
        height: 65px;
        font-family: 'Manrope ExtraBold';
        border-radius: 24px;
        border: 3px solid #209269;
        transition: $anim-default;
        margin-top: 100px;
        &:hover {
            color: #fff;
            background: #209269;
        }
    }
}

.contact {
    &-wrapper {
        padding-bottom: 100px;
    }
    &__title {
        margin-bottom: 40px;
    }
    &-inner {
        display: flex;
        justify-content: space-between;
    }
    &-info {
        width: 524px;
        &-block {
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
        &__title {
            font-family: 'Montserrat SemiBold';
            font-size: 24px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 18px;
        }
        &__descr {
            font-family: 'Montserrat Medium';
            font-size: 20px;
            line-height: 24px;
            color: #5A5A5A;
            span {
                font-size: 20px;
                line-height: 24px;
                color: #209269;
                font-family: 'Montserrat Bold';
            }
        }
        &-phone {
            &__icon {
                margin-right: 8px;
            }
            &__link {
                display: flex;
                align-items: center;
                width: fit-content;
                &:not(:last-child) {
                    margin-bottom: 12px;
                }
                &:hover {
                    .contact-info-phone__text {
                        color: #209269;
                    }
                }
            }
            &__text {
                font-family: 'Montserrat Medium';
                font-size: 20px;
                transition: $anim-default;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #5A5A5A;
            }
        }
        &-email {
            display: flex;
            align-items: center;
            &__text {
                font-family: 'Montserrat Medium';
                color: #5A5A5A;
                text-decoration: underline;
                font-size: 20px;
                line-height: 24px;
                margin-left: 4px;
                transition: $anim-default;
            }
            &:hover {
                .contact-info-email__text {
                    color: #209269;
                }
            }
        }
        &-social {
            display: flex;
            &__link {
                
                display: flex;
                align-items: center;
                justify-content: center;
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
        &__link {
            font-family: 'Montserrat Bold';
            font-size: 20px;
            line-height: 32px;
            text-decoration: underline;
            color: #209269;
            transition: $anim-default;
            &:hover {
                color: #000;
            }
        }
    }
    &-map {
        width: 689px;
        iframe {
            width: 100%;
            height: 335px;
            border-radius: 20px;
        }
    }
}

.footer {
    padding-bottom: 200px;
    background: #209269;
}

.hidden {
    overflow: hidden;
}
